.env
.notes
drupal-backend/vendor
drupal-backend/web/core
drupal-backend/web/modules
drupal-backend/web/sites/*/settings*.php
drupal-backend/web/sites/*/services*.yml
drupal-backend/web/sites/*/files
drupal-backend/web/sites/*/private
setup/node_modules/*